{% extends 'base.html' %}
{% block contenido %}

<body>
     <div class="acerca-de-nosotros">
      <h1>Acerca de nosotros</h1>
        <div style="display:flex">
          
          <p> Somos el grupo Nº 1 del Informatorio desarrollamos esta página para el proyecto final nos enfocamos
          específicamente en un Blog orientado a promocionar noticias o artículos. Básicamente un portal de noticias
          donde colaboradores de todo el país nos esorzaremos por brindar información relevante para la comunidad.
          El proyecto está desarrollado en Python y Django.
        </p>
        <img src="../assets/img/imagenblog.jpg" 
          style="height: 400px; width: 400px; align-items: right;" alt="">

        </div>
        <div class="imagen">
          <img src="" alt="">
          <img src="" alt="">
        </div>
     </div>
</body>
{% endblock %}