{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Blog Grupo 1 {% endblock %}</title>
    <link rel="icon" type="image/svg" href="{% static 'img/logo.svg' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header class="main-nav">
        <div class="container">
            <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo.svg' %}" alt="Logo"
                    class="logo-img">Realidad Virtual</a>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'publicaciones:listar' %}">Publicaciones</a></li>
                    <li><a href="{% url 'Acerca_de' %}">Acerca de nosotros</a></li>
                        <li><a href="{% url 'usuarios:contacto' %}">Contacto</a></li>
                    {% if user.is_authenticated %}
                    {% if pertenece_a_colaboradores or user.is_superuser %}
                    <li><a href="{% url 'publicaciones:crear' %}">Nueva publicación</a></li>
                    {% endif %}
                    <li><span style="color:white;">Hola, {{ user.username }}</span></li>
                    <li>
                        <form action="{% url 'logout' %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit"
                                style="background:none; border:none; color:white; cursor:pointer; font:inherit;">Cerrar
                                Sesión</button>
                        </form>
                    </li>
                    {% else %}
                    <li><a href="{% url 'iniciar_sesion' %}">Iniciar Sesión</a></li>
                    <li><a href="{% url 'usuarios:registrarse' %}">Registrarse</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <main class="container">
        {% block contenido %}
        {% endblock %}
    </main>

    <footer class="main-footer">
        <div class="container">
            <p>&copy; 2025 Proyecto Final - Grupo 1</p>
            <small>Desarrollado con Django</small>
        </div>
    </footer>

</body>

</html>