{% extends 'base.html' %}

{% block titulo %} Publicaciones {% endblock %}

{% block contenido %}
    
    <header style="margin-bottom: 20px; border-bottom: 2px solid #eee; padding-bottom: 10px;">
        <h2>Últimas publicaciones</h2>
    </header>

    <section class="posts-grid">
        {% for post in posts %}
            <article class="post-card">
                
                {% if post.imagen %}
                    <img src="{{ post.imagen.url }}" class="card-img-custom" alt="{{ post.titulo }}">
                {% else %}
                    <div class="card-placeholder">
                        <span>Sin Imagen</span>
                    </div>
                {% endif %}
                
                <div class="card-content">
                    <h3 class="card-title">{{ post.titulo }}</h3>
                    
                    {% if post.subtitulo %}
                        <span class="card-subtitle">{{ post.subtitulo }}</span>
                    {% endif %}
                    
                    <p>{{ post.texto|truncatewords:20 }}</p>
                </div>
                
                <footer class="card-footer">
                    Publicado: {{ post.publicado|date:"d/m/Y" }}
                </footer>

            </article> 
        {% empty %}
            <div style="grid-column: 1 / -1; text-align: center; padding: 20px; background: #fff; border-radius: 8px;">
                <h3>Aún no hay contenido.</h3>
                <p>Pronto subiremos las primeras novedades</p>
            </div>
        {% endfor %}
    </section>

{% endblock %}